// Title: Convert FileName
// Description: This script Converts the Filename to Lower Case and replaces spaces by underscores.
//
// ------------ Don't change anything in the following block -------
//css_ref bin\taglibsharp.dll; 
//css_ref bin\MPTagThat.Core.dll; 
using System;
using System.Collections.Generic;
using MPTagThat.Core;
using MPTagThat.Core.Common.Song;
using MPTagThat.Core.Services.ScriptManager;
using TagLib;
// ----------------------------------------------------------------
// Insert any using here that your script might need
// If referencing an external dll, whose assembly name is not the same 
// as in the using, you need to insert a css_ref comment pointing to the dll.
// See the example how taglib-sharp.dll is referenced on top of this file.

public class Script : IScript
{
  // We get all selected songs in a list, so that we can loop through them in one call
  public string Invoke(SongData song)
  {
	string filename = song.FileName;   		// Get the filename from the current song

	filename = filename.ToLowerInvariant();   	// Convert the filename to all lowercase 
	filename = filename.Replace(" ", "_");		// Replace all blanks with underscores
		
	song.FileName = filename;					// Set the filename to the converted filename
	song.Changed = true; 						// Indicate that the song has been changed

    return "";
  }
}
