// Title: Switch Artist
// Description: This script switches the Artists First and Last Name.
//
// ------------ Don't change anything in the following block -------
//css_ref bin\taglibsharp.dll; 
//css_ref bin\MPTagThat.Core.dll; 
using System;
using System.Collections.Generic;
using MPTagThat.Core;
using MPTagThat.Core.Common.Song;
using MPTagThat.Core.Services.ScriptManager;
using TagLib;
// ----------------------------------------------------------------
// Insert any using here that your script might need
// If referencing an external dll, whose assembly name is not the same 
// as in the using, you need to insert a css_ref comment pointing to the dll.
// See the example how taglib-sharp.dll is referenced on top of this file.

public class Script : IScript
{
  public string Invoke(SongData song)
  {
    var stringSeparators = new string[] {"&", "/", "feat", "feat."};
    var switchedArtist = "";

    var artists = song.Artist.Split(stringSeparators, StringSplitOptions.None);
    if (artists.Length > 0)
    {
      foreach (var artist in artists)
      {
        switchedArtist += SwitchArtist(artist) + ";";
      }

      song.Artist = switchedArtist.Substring(0, switchedArtist.Length - 1);
      song.Changed = true;
    }
    else
    {
      switchedArtist += SwitchArtist(song.Artist);
      if (switchedArtist != song.Artist)
      {
        song.Artist = switchedArtist;
        song.Changed = true;
      }
    }
    return "";
  }
  
  private string SwitchArtist(string artist)
  {
    artist = artist.Trim();

    // Search for the first Blank
    var iPos = artist.IndexOf(' ');
    if (iPos > 0)
    {
      // Switch the Artist name
      return string.Format("{0}, {1}", artist.Substring(iPos + 1).Trim(), artist.Substring(0, iPos));;
    }
    return artist;
  }
}
