<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net461" />
  <package id="CS-Script.lib" version="3.30.1.1-HotFix" targetFramework="net461" />
  <package id="DiscogsClient" version="2.6.0" targetFramework="net461" />
  <package id="Inflatable.Lastfm" version="1.1.0.339" targetFramework="net461" />
  <package id="MediaPortal.FreeImageNET" version="3.18.3" targetFramework="net461" />
  <package id="MediaPortal.TagLib" version="2.1.0.5" targetFramework="net461" />
  <package id="MPTagThat_License_Manager" version="1.0.1" targetFramework="net461" />
  <package id="MusicBrainzAPI" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NLog" version="4.6.8" targetFramework="net461" />
  <package id="Prism.Core" version="8.0.0.1455-ci" targetFramework="net461" />
  <package id="RateLimiter" version="1.1.1" targetFramework="net461" />
  <package id="RavenDB.Client" version="3.5.5" targetFramework="net461" />
  <package id="RavenDB.Database" version="3.5.5" targetFramework="net461" />
  <package id="RavenDB.Embedded" version="3.5.5" targetFramework="net461" />
  <package id="RestSharp" version="106.10.1" targetFramework="net461" />
  <package id="RestSharpHelper" version="1.1.1" targetFramework="net461" />
  <package id="Syncfusion.Data.WPF" version="17.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.SfGrid.WPF" version="17.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.SfInput.WPF" version="17.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.SfShared.WPF" version="17.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="17.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Tools.WPF" version="17.4.0.47" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WPFLocalizeExtension" version="3.4.0-alpha0039" targetFramework="net461" />
  <package id="XAMLMarkupExtensions" version="1.6.0" targetFramework="net461" />
</packages>