<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="MediaPortal.TagLib" version="2.1.0.5" targetFramework="net461" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net461" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net461" />
  <package id="Syncfusion.Data.WPF" version="17.1.0.48" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.1.0.48" targetFramework="net461" />
  <package id="Syncfusion.SfGrid.WPF" version="17.1.0.48" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="17.1.0.48" targetFramework="net461" />
  <package id="Syncfusion.Tools.WPF" version="17.1.0.48" targetFramework="net461" />
  <package id="WPFLocalizeExtension" version="3.3.1" targetFramework="net461" />
  <package id="XAMLMarkupExtensions" version="1.5.1" targetFramework="net461" />
</packages>