<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BASS.NET" version="2.4.14.1" targetFramework="net461" />
  <package id="BASSCombined" version="2.4.15" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="MPTagThat_License_Manager" version="1.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Prism.Core" version="8.0.0.1455-ci" targetFramework="net461" />
  <package id="Prism.Unity" version="8.0.0.1455-ci" targetFramework="net461" />
  <package id="Prism.Wpf" version="8.0.0.1455-ci" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.1.0.42" targetFramework="net461" />
  <package id="Syncfusion.SfSkinManager.WPF" version="18.1.0.42" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="18.1.0.42" targetFramework="net461" />
  <package id="Syncfusion.Themes.Office2016Colorful.WPF" version="18.1.0.42" targetFramework="net461" />
  <package id="Syncfusion.Themes.Office2016DarkGray.WPF" version="18.1.0.42" targetFramework="net461" />
  <package id="Syncfusion.Themes.Office2016White.WPF" version="18.1.0.42" targetFramework="net461" />
  <package id="Syncfusion.Themes.Office365.WPF" version="18.1.0.42" targetFramework="net461" />
  <package id="Syncfusion.Tools.WPF" version="18.1.0.42" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Unity" version="5.11.3" targetFramework="net461" />
  <package id="Unity.Abstractions" version="5.11.3" targetFramework="net461" />
  <package id="Unity.Container" version="5.11.5" targetFramework="net461" />
  <package id="WPFLocalizeExtension" version="3.4.0-alpha0039" targetFramework="net461" />
  <package id="XAMLMarkupExtensions" version="1.6.0" targetFramework="net461" />
</packages>